/**
	react-dropdown-list skeleton css
	only edit this file if absolutely necessary.
	to change tooltip appearance edit Dropdown-Theme.css
*/

/* list of dropdown menu items */
.react-downdown-list__menu{

	/* clean up the menu list */
	margin:0;
	padding:0;
	list-style:none;
}

/* individual list item inside menu */
.react-downdown-list__item{

	/* clean up the menu list */
	margin:0;
	padding:0;
	list-style:none;
}